.ballWrapper {
	width: 280px;
	height: 400px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -150px 0 0 -70px;
}
#ball {
	width: 280px;
	height: 280px;
	border-radius: 50%;
	background-color: #000;	
}
#result {
	display: none;
	position:absolute;
    left:48px;
    top:332px;
    font-size:250%;
}
